/* Mobile-screen styling */

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    min-width: 480px;
}




div.voip-screen-centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*   http://davidwalsh.name/css-vertical-center-flexbox */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div.voip-screen-centered .container-fluid {
    /* For whatever reason, elements within container-fluid don't expand with when inside of the a flexbox, so explicitly make sure to set width to 100% when using container-fluid. */
    width: 100%;
}





div.voip-screen-action {
    position: absolute;
    top: 0;
    left: 0;
}

div.voip-screen-action .action-button {
    height: 80px;
}









p.text-important {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}




div.emblem-important {
    text-align: center;
}




/* Element specific styling */

#logo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size:1.5em;
    width: 100%;
}

#working-spinner {
    margin-top: 80px;
}

#loggedInScreen .menu {

}

#loggedInScreen .chunk {
    width: 100%;
}

#loggedInScreen #network-activity-indicator {
    margin-top: 120px;
}

#loggedInScreen #callButton {
    width: 100%;
}